body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px;
}

.form-container-get {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin:30px;
}
.form-container-post {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin:30px;
}

.form-container h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-container {
    text-align: center;
    margin-top: 15px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background: #28a745;
    color: white;
}
.visa {
    background: #28a745;
    color: white;
}
.reset-btn {
    background: #dc3545;
    color: white;
}